.action-pane-1 {
  border: 1px solid #000;
  height: 640px;
  position: relative;
}

.action-pane-2 {
  border: 1px solid #000;
  height: 640px;
  position: relative;
}

.world-pane {
  border: 1px solid #000;
  height: 640px;
  position: relative;
}

.status-pane {
  border: 1px solid #000;
  height: 640px;
  position: relative;
}

.render-window {
  overflow: hidden;
  height: 200px;
  border: 1px solid #000;
  position: relative;
  background: #499bea;
  background: linear-gradient(to bottom, #499bea 0%,#47ade0 58%,#207ce5 100%);
}

.nighttime {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,100%);
  -webkit-animation: DayNight 24s linear infinite;
  -moz-animation: DayNight 24s linear infinite;
  animation: DayNight 24s linear infinite;
}

.sun {
  width: 45px;
  height: 45px;
  background: radial-gradient(ellipse at center, #f90 0%,#fc0 60%,#ff0 100%);
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: -45px;
  animation: SunCycle 24s linear infinite;
}

.render-window .road {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 55px;
  bottom: 0;
  left: 0;
  background-color: #2f3435;
}

.render-window .car {
  position: absolute;
  bottom: 35px;
  right: 30px;
  z-index: 120;
}

.activity-log {
  border: 1px solid #000;
  height: 280px;
  max-height: 280px;
  overflow: scroll;
  background-color: rgba(0,0,0,80%);
  padding: 10px 25px;
  color: #fff;
}

.btn-round {
  width:75px;
  height: 75px;
  background: #4c4c4c;
  background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
  background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
  color:#fff;
  vertical-align: middle;
  border-radius: 100%;
  border: 5px solid #d40000;
  padding-top: 15px;
  margin: 15px 0;
}

.btn-round:hover {
  color: #fff;
}

.btn-round i.fas {
  display: block;
}

.jail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bar {
  width: 10px;
  height: 100px;
  position: relative;
  background-color: #f7f7f7;
  margin-right: 20px;
}

.building_spawner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.building_spawner img {
  position: absolute;
  left: -150px;
  bottom: 55px;
  z-index: 10;
}

.car_spawner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.car_spawner img {
  position: absolute;
  left: -150px;
  bottom: 20px;
  z-index: 130;
  /* transform: scaleX(-1); */
}

.interstate_map {
  display: inline-block;
  width:100px;
  height:100px;
  background-image:url('assets/gfx/interstate.png');
  color: #fff;
  font-size: 42px;
  padding-top: 20px;
}

.directional_buttons {
  display: inline-block;
  margin-top: 35px;
  position: relative;
  width: 132px;
  height: 88px;
  text-align: center;
}

.directional_buttons button {
  font-size: 25px;
  width: 44px;
  height: 44px;
}

.directional_buttons .north {
  position: absolute;
  top: 0;
  margin-left: -22px;
}

.directional_buttons .south {
  position: absolute;
  bottom: 0;
  margin-left: -22px;
}

.directional_buttons .east {
  position: absolute;
  top: 25px;
  left: 0;
}

.directional_buttons .west {
  position: absolute;
  top: 25px;
  right: 0;
}


@-webkit-keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
    margin-left: -100px;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
    margin-left: -100px;
  }
  100% {
    margin-left: 100%;
  }
}


.x1 {
  -webkit-animation: animateCloud 35s linear infinite;
  -moz-animation: animateCloud 35s linear infinite;
  animation: animateCloud 35s linear infinite;
  
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}

.x2 {
  -webkit-animation: animateCloud 20s linear infinite;
  -moz-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20s linear infinite;
  
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x3 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;
  
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x4 {
  -webkit-animation: animateCloud 18s linear infinite;
  -moz-animation: animateCloud 18s linear infinite;
  animation: animateCloud 18s linear infinite;
  
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x5 {
  -webkit-animation: animateCloud 25s linear infinite;
  -moz-animation: animateCloud 25s linear infinite;
  animation: animateCloud 25s linear infinite;
  
  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  transform: scale(0.55);
}

.paused {
  animation-play-state: paused;
}

.jail {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image:url('assets/gfx/jail.png');
  display: none;
}

.crack {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image:url('assets/gfx/crack.png');
  display: none;
}

.sirens {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  animation: sirens 0.2s infinite;
}

@keyframes sirens {
  from {background-color: rgb(228 21 21 / 40%);}
  to {background-color: rgb(21 21 228 / 40%);};}
}

.car_oppo {
  
}

.cloud {
  background: #fff;
  background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
  background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
  
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  
  -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  
  height: 120px;
  position: relative;
  width: 350px;
}

.cloud:after, .cloud:before {
  background: #fff;
  content: '';
  position: absolute;
  z-indeX: -1;
}

.cloud:after {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  
  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}

.car-selector img {
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  padding: 20px;
}

.car-selector h2 {
  font-family: 'Bebas Neue', cursive;
  padding-top: 8px;
  background-color: #0090d4;
  color: #fff;
  text-shadow: 0px 0px 2px #000000;
  margin: 0;
}

.car-selector ul {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  padding: 10px 35px;
}

.car-selector li {
  padding: 4px 0;
}

.cloud:before {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  
  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
}

.sign {
  width:100px;
  height:44px;
  background-image:url('assets/gfx/sign.png');
  position: absolute;
  z-index: 25;
  bottom: 55px;
  left: 0;
  color: #fff;
  text-align: center;
}

.sign .name {
  font-size: 10px;
  margin: 0;
}

.sign .pop {
  font-size: 8px;
  margin: 0;
}


@-webkit-keyframes DayNight {
  0%{opacity: 10%}
  25%{opacity: 0%}
  50%{opacity: 80%}
  100%{opacity: 0}
}
@-moz-keyframes DayNight {
  0%{opacity: 10%}
  25%{opacity: 0%}
  50%{opacity: 80%}
  100%{opacity: 0}
}
@keyframes DayNight {
  0%{opacity: 10%}
  25%{opacity: 0%}
  50%{opacity: 80%}
  100%{opacity: 0}
}


@-webkit-keyframes SunCycle {
  0%{
    right: -45px;
  }
  25% {
    bottom: 75%;
  }
  50%{
    right: 102%;
    bottom: 0;
  }
}
@-moz-keyframes SunCycle {
  0%{
    right: -45px;
  }
  25% {
    bottom: 75%;
  }
  50%{
    right: 102%;
    bottom: 0;
  }
}
@keyframes SunCycle {
  0%{
    right: -45px;
  }
  25% {
    bottom: 75%;
  }
  50%{
    right: 102%;
    bottom: 0;
  }
}
